.main-container{
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -180px;
/* border-style: dashed; */
}
.comment-flexbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.comment-text{
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #084d31;
}
.inputs-box{
    height: 65px;
    width: 465px;
    background-color: rgba(150, 226, 166, 0.75);
    font-size: 18px;
}
.comment-button{
   
   
    font-size: 1.05rem;
    margin: 10px 0;
    background: #0ebc14;
    font-weight: bold;
      width: 150px;
      border: 3px solid #2ecc71;
      background: transparent;
      color: #114d2a;
   
}
.comment-button:hover {
  
    background: rgba(116,212,137,0.75);
   
      color:black;
   
}

.main-container .comment-container{
    /* border-style: dashed; */
    height: 100%;
    width: 465px;
    background-color: rgba(150, 226, 166, 0.75);
    font-size: 18px;
    border-radius: 10px;
   margin: 10px 0;
   padding: 10px;
   word-break: break-all;
   text-align: left;
}