.activity_list th{
    /* border-style: dotted; */
    font-size: 20px;
    height: 60px;
}
.activity_list td{
    /* border-style: dotted; */
    font-size: 24px;
    height: 80px;
  
}
.activity_list tr{
    border-style: dashed;
   
    box-shadow: rgba(11, 83, 13, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.activity_data h2{
    font-size: 36px;
}

.activity_list table{
    /* border-style: double; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border:none
}
