.user_list th{
    /* border-style: dotted; */
    font-size: 20px;
    height: 60px;
}
.user_list td{
    /* border-style: dotted; */
    font-size: 20px;
    height: 80px;
  
}
.user_list tr{
    border-style: dashed;
   
    box-shadow: rgba(11, 83, 13, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.user_data h2{
    font-size: 36px;
}

.user_list table{
    /* border-style: double; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border:none
}


button{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(3, 105, 76);
    font-size: 22px;
    width: 200px;
    height: 40px;
}
.user_data button:hover{
    background: #0ebc14;
    font-weight: bold;
      width: 250px;
      height: 50px;
      border: 3px solid #2ecc71;
      background: transparent;
      color: #114d2a;
}
.disabled_button{
    background-color: rgb(147, 148, 148);
    pointer-events: none ;
}

.info{
    display: flex;
 
    flex-wrap: wrap;
   
     font-size:26px;
     margin: 20px 20px 20px 140px;
     align-items: center;
     
 }
 .info input{
     padding: 10px;
     margin: 10px 62px;
     background-color: rgb(209, 248, 235);
 }


 .topBefore{
    align-items: center;
}




