
.card-Activities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px  ;

}
.Activities{
    background: linear-gradient(to right, 
    
    #489032, 
    
    #a1cd82,  
    #489032);  
      border-radius:35px ;
    -webkit-border-radius:35px ;
    -moz-border-radius:35px ;
    -ms-border-radius:35px ;
    -o-border-radius:35px ;
    opacity: 90%;
    display: flex;
    flex-direction: column;
   width: 65vw;
   height: 100%;
   margin: 20px 20px ;
   box-shadow: 0px -1px 25px 9px rgba(23, 24, 23, 0.75);
   -webkit-box-shadow: 0px -1px 10px 9px rgba(12, 12, 12, 0.75);
   -moz-box-shadow: 0px -1px 25px 9px rgba(12, 13, 13, 0.75);
 
}
.st-description{
    justify-content: center;
    
}
.Activities img{
  box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
  -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
  -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
  width: 20vw;
  height: 35vh;
  margin: 20px;
  border-radius:50% ;
 
  --g: 4px;
  --b: 12px;
  --c: #041413;
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .2s;
 
}


.Activities img:hover{
    --_p: 75%;
  filter: grayscale(0%);
    width: 30vw;
   height: 45vh;
 
}
.list-image{
    /* border-style: dotted; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.titles{
    
    width: 70%;
    height: 20vh;
    justify-content: center;
    justify-items: center;
padding: 10px;
margin: 5px 15% 20px 15%;
box-shadow: rgba(242, 243, 242, 0.94) 0px 5px 30px;

}

.titles h2{
margin: 5px;
}
.zone-comment{
    padding-top: 200px;
    box-shadow: 0px -1px 25px 9px rgba(13, 14, 14, 0.75);
    -webkit-box-shadow: 0px -1px 10px 9px rgba(13, 14, 13, 0.75);
    -moz-box-shadow: 0px -1px 25px 9px rgba(12, 13, 12, 0.75);
    border-radius:35px ;
    
    /* border-style: dashed; */
}




