.card-events {
 
  display: flex;
  justify-content: space-around;
  margin: 40px 50px 40px 50px;
  background: linear-gradient(to right, 
    
  #489032, 
  
  #a1cd82,  
  #489032);
  border-radius: 40px;
  /* -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px; */
  opacity: 95%;
}
.card-events .yawm-maftouh img {
  margin: 30px;
  width: 17vw;
  height: 33vh;
  /* border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%; */
}
.card-events .yawm-maftouh img {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: #0a5a0a; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
.card-events .yawm-maftouh img:hover {
  --_p: 75%;
  filter: grayscale(0%);
  width: 22vw;
  height: 40vh;
}
.descriptions {
/* display: flex; */
/* justify-content: stretch; */
    padding: 30px 30px;
  margin:3.5% 3%;
  display: inline-block;
  /* border-style: dashed; */
  text-align: justify;
  justify-items: center;
  justify-content: center;
  font-size: 14px;
  
  color: rgb(26, 27, 27);
  width: 40%;
  height: 100%;
  text-shadow: 0.5px 0.5px #409940;
  box-shadow: 0px -1px 25px 9px rgba(11, 11, 11, 0.75);
-webkit-box-shadow: 0px -1px 25px 9px rgba(22, 24, 22, 0.75);
-moz-box-shadow: 0px -1px 25px 9px rgba(17, 18, 17, 0.75);
}
.yawm-maftouh {
  margin: 50px 0 50px 50px;
  /* border-radius: 20%; */
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
  /* border-style: dashed; */
  width: 60%;
  height: 100%;
  box-shadow: 0px -1px 25px 9px rgba(12, 14, 13, 0.75);
  -webkit-box-shadow: 0px -1px 25px 9px rgba(11, 13, 12, 0.75);
  -moz-box-shadow: 0px -1px 25px 9px rgba(9, 10, 9, 0.75);
  
}
.yawm-maftouh img {
  width: 30%;
  height: 25vh;
  box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
  -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
  -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
  border-radius: 20%;
}
.comment-event{
  margin-top: 45%;
 
  box-shadow: 0px -1px 25px 9px rgba(116,212,137,0.75);
  -webkit-box-shadow: 0px -1px 25px 9px rgba(116,212,137,0.75);
  -moz-box-shadow: 0px -1px 25px 9px rgba(116,212,137,0.75);

}
.info-events p{
  font-size: 21px;
  line-height: 2rem;
  text-shadow: 0.15px 0.15px #080808;
}
.info-events h2{
  font-size: 20px;
  line-height: 2.5rem;
}

.events-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  /* padding: 0 20px; */
  /* border-style: double; */

  background: linear-gradient(to right,         #06621a,         #7db229,      #06621a);
  
}

.events-navbar li {
  flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: block;
  padding:10px 50px;
  color: black;
  /* border-style: double; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;


}

.events-navbar li:hover {
  color: rgb(178, 245, 202);
}