/* .footer{
    padding: 2%;
    width: 100%;
    height: 100px;
    background-color: #014b2d;
     color: white;
     display: flex;
     justify-content: center;
   }
   */
   .footer{
    display: flex;
    justify-content: space-around;
   }
  .left_footer h2{
    text-align: center;
    color: Aquamarine;
   }
   .left_footer p{
    /* font-style: italic; */
    font-weight: bold;
    color: rgb(151, 228, 178);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 123px;
    text-decoration: underline;
    cursor: pointer;
   }
   .left_footer p:hover{
   
    color: #07a367;
    
   }
   .footer p{
    font-size: 16px;
    
   } 
   .footer-basic p:hover{
    color: #0aca81;
    
   } 
.left_footer{
  width: 30%;
  opacity: 97%;
  color:#adebcc;
  padding-top: 50px;
  /* border-style: double; */
  background: linear-gradient(to right, 
    
  #568a02, 
  #06621a,
   
  #06621a
 );
 
}
   .footer-basic {
    width: 70%;
    opacity: 97%;
    padding:20px 0;
    background: linear-gradient(to right, 
    
    #06621a, 
    
    #06621a,
    #06621a,
    
    #568a02);
    color:Aquamarine;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content: center;
  }
  
  .footer-basic li {
    color: Aquamarine;
    padding:10px 50px;
    margin: 0 2px;
    background-color: rgb(7, 139, 38);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    color: #0a1318;
  }
  
  .footer-basic .social {
    /* border-style: dashed; */
padding: 2px 0 10px 0;
/* margin: 2px 0 2px 0; */
    /* justify-content: center;
    justify-items: center; */
    text-align:center;

    /* padding-bottom:25px; */
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:10%;
    border:1px solid #ccc;
    margin:0 8px;
    color:Aquamarine;
    opacity:0.75;
    -webkit-border-radius:10%;
    -moz-border-radius:10%;
    -ms-border-radius:10%;
    -o-border-radius:10%;
}
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    background: #0a1318;
  }
  .follow_us{
    font-size: 20px;
    /* border-style: dashed; */
    color: Aquamarine;
  }
  
  