
.home img{
    width: 30vw;
    height: 60vh;
  opacity: 70%;
  
  }
  .home{
    width: 100%;
   
  }
  .home .team_pic{
    /* border-style: dashed; */
    display: flex;
    width: 90%;
    height: 100%;
    opacity: 80%;
    display: inline-block;
    position: relative;
    
  }
  .home .team_pic .team2012{
  font-size: 66px;
    /* z-index: 1; */
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0%;
    right: 48%;
    top: 65%;
    color: rgb(22, 118, 64);
    width: 30%;
    text-shadow: 4px 4px #f4f3f3;
    box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    
}

.home .team_pic .team2022{
  font-size: 66px;
    /* z-index: 1; */
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 48%;
    right: 0%;
    top: 65%;
    color: rgb(22, 118, 64);
    width: 30%;
    text-shadow: 4px 4px #fbf9f9;
    box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);

}
  .description_club{
    margin: 70px 0;
font-size: 26px;
width: 100%;
display: flex;
justify-content: space-around;

  }
.description_ar, .description_fr, .description_en{
    /*border-style: dashed;
    */
    border-radius: 4%;
    /* padding: 80px 80px; */
    opacity: 85%;
    color: rgb(19, 87, 70);
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
    text-shadow: black 0.045em 0.025em 0.025em;
    line-height: 50px;
    width: 90%;
    background: linear-gradient(to right, 
    
    #a2ce5a, 
    
    #cccec5,  
    #a2ce5a);   
}
.description_club h3{
color: rgb(8, 65, 46);
text-align: center;

}
.home .team_pic img{
    opacity: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
margin:20px;
}
.langages{
  
    box-shadow: 0px 1px 5px 19px rgba(19,115,52,0.27);
    -webkit-box-shadow: 0px 1px 5px 19px rgba(19,115,52,0.27);
    -moz-box-shadow: 0px 1px 5px 19px rgba(19,115,52,0.27);
    display: flex;
    cursor: pointer;
    border-radius:5% ;
    padding: 20px 20px;
    margin: 20px 20px;
    justify-content: space-around;
    -webkit-border-radius:5% ;
    -moz-border-radius:5% ;
    -ms-border-radius:5% ;
    -o-border-radius:5% ;
}
.langages p{
    text-align: center;
    /* border-style: dotted; */
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
.langages p:hover{
  background-color:rgba(19,115,52,0.27);

}
/* .langages p:focus-within{
  background-color:rgba(19,115,52,0.27);

} */

.description-club{
  
  margin: 50px;
}
.home h2{
  font-size: 34px;
  color: rgb(11, 60, 34);
  text-shadow: 1px 1px #d78d8d
}






/*----------------------------------------*/













