
.home img{
    width: 30vw;
    height: 60vh;
  opacity: 70%;
  
  }
  .home{
    width: 100%;
   
  }
  .home .team_pic{
    /* border-style: dashed; */
    display: flex;
    width: 90%;
    height: 100%;
    opacity: 80%;
    display: inline-block;
    position: relative;
    
  }
  .home .team_pic .team2012{
  font-size: 66px;
    /* z-index: 1; */
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0%;
    right: 48%;
    top: 65%;
    color: rgb(76, 179, 78);
    width: 30%;
    text-shadow: 2px 2px #c3ca59;
    box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    
}

.home .team_pic .team2022{
  font-size: 66px;
    /* z-index: 1; */
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 48%;
    right: 0%;
    top: 65%;
    color: rgb(76, 179, 78);
    width: 30%;
    text-shadow: 2px 2px #c3ca59;
    box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);

}
.home .team_pic img{
    opacity: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 0px 4px rgba(116,212,137,0.75);
margin:20px;
}

.home h2{
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(124, 214, 166);
  text-shadow: 1px 1px #090808
}

h1{
  color: #b2cfac;
  font-size: 48px;
  margin: 10px;
}




/*----------------------------------------*/













