.login-card{
    margin: 10vh auto 10vh auto;
    padding: 0 10vh 10vh 10vh;
    background-color: rgb(214, 237, 217);
    width: 60vh;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px -1px 25px 9px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px -1px 25px 9px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px -1px 25px 9px rgba(116,212,137,0.75);
    padding-bottom: 200px;
}
.login-card img{
    height: 200px;
    width: 200px;  
    opacity: 60%; 
}
.login-card button{
border: none;
width:15vw ;
height: 40px;
background-color: rgb(3, 135, 91);
color: white;
font-size: 18px;
}
.login-card input{
    height: 40px;
    width: 20vw;
    background-color: rgb(152, 213, 159);
    
}
.login-card h3{
    color:rgb(3, 135, 91);
    padding-bottom: 5px;
    
    text-align: left;
   
}
.login-card h5 {
    color:rgb(3, 135, 91);
    text-align: left;
    padding-top: 5px;
}
.submit_signup{
    cursor: pointer;
}
.submit_signin{
    cursor: pointer;
}