.card-manager{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 20px ;
   

}

.manager{
    background: radial-gradient(ellipse at center top, 
    rgb(45, 171, 45), 
    rgb(148, 148, 208));
   display: flex;
   flex-direction: column;
   width: 30vw;
   height: 80vh;
   margin: 30px 30px ;
   box-shadow:  rgba(170, 125, 177, 0.56) 0px 22px 70px 4px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   padding-top: 20px;
   border-radius: 20%;
   -webkit-border-radius: 20%;
   -moz-border-radius: 20%;
   -ms-border-radius: 20%;
   -o-border-radius: 20%;
} 

.mn-description{
    justify-content: center;
}
.manager img{
    border-radius: 30%;
    width: 25vw;
    height: 50vh;
    margin: 20px;
   
}
.manager h2{
    margin: auto;
    line-height: 1.5rem;
    font-size: 24px;
    font-weight: 600;
    font-family: "Henny Penny", cursive;
    letter-spacing: 0.0015em;
	color: #093627;
	text-shadow: 0 1px #90d39c, -1px 0 #c0cbff, -1px 2px #8da1ff,
		-1px 2px #90d39c, -1px 1px #c0cbff, -1px 2px #90d39c,
		-3px 4px #90d39c, -3px 3px #c0cbff, -3px 4px #90d39c,
		-5px 6px #90d39c, -5px 5px #c0cbff, -5px 6px #90d39c;
}

.managing-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    /* padding: 0 20px; */
    /* border-style: double; */

    background: linear-gradient(to right,         #06621a,         #7db229,      #06621a);
    
}
  
  .managing-navbar li {
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    display: block;
    padding:10px 50px;
    color: black;
    /* border-style: double; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;


}
  
  .managing-navbar li:hover {
    color: rgb(178, 245, 202);
  }


