.Navigation{
    z-index: 99999999999;
    width: 100%;
    background-color: rgb(3, 105, 76);
}
.navigation-ul{
   
      
    margin-top: 0%;
    padding-top: 0%;
   
    list-style: none;
   margin-inline: auto;
   
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a:hover {
    background-color: rgb(93, 155, 132);
  }
.Navigation a {
    color: rgb(187, 217, 204);
    font: bold;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    text-shadow: 1px 1px #d9a7a7;
    /* padding: 5px 5px ; */
    /* margin: 5px 5px; */
}

.under-container{
    position: relative;
}

.Navigation img{
  justify-content: center;
  justify-items: center;
    width: 5vw;
    height: 10vh;
    opacity: 80%; 
}
.under-list{
    z-index: 9999999999999;
    position: absolute;
    display: none;
    background-color: rgb(3, 105, 76);
    list-style: none;
    left: -10px;
    flex-direction:column;
    align-items: flex-start;
    padding: 30px 20px 20px 2px;
    width: 13vw;
   
}
.under-list li{
    padding: 5px 0 5px 0;
    margin: 5px 5px;

}
/* afficher underlist when we hover the li */

.Navigation .under-container:hover .under-list{
    display: flex;
}

 .login{
    width: 100px;
    height: 100px;
} 
.botton_login{
    margin-left: 10px;
    border: 3px solid rgb(190, 189, 189);
  width:80px ;
  height:30px ;
  font-size: 16px;
  background-color: rgb(36, 58, 10);
  border-radius: 50px ;
  cursor: pointer;
  color: rgb(208, 239, 226);
}
.botton_logout{
    margin-left: 10px;
    border: 3px solid rgb(190, 189, 189);
  width:55px ;
  height:25px ;
  font-size: 13px;
  background-color: rgb(36, 58, 10);
  border-radius: 50px ;
  cursor: pointer;
  color: rgb(208, 239, 226);
}
.logout_profile {
    background-color: rgb(93, 155, 132);
    padding: 8px 10px;
    color: rgb(208, 239, 226);
   
}
