.Navigation{
    z-index: 99999999999;
    width: 100%;
    background-color: rgb(3, 105, 76);
}
.navigation-ul{
    
    margin-top: 0%;
    padding-top: 0%;
   
    list-style: none;
   margin-inline: auto;
   
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Navigation a {
    color: rgb(187, 217, 204);
    font: bold;
    font-size: 26px;
    text-decoration: none;
    position: relative;
}

.under-container{
    position: relative;
}

.Navigation img{
  justify-content: center;
  justify-items: center;
    width: 5vw;
    height: 10vh;
}
.under-list{
    z-index: 9999999999999;
    position: absolute;
    display: none;
    background-color: rgb(3, 105, 76);
    list-style: none;
    left: -10px;
    flex-direction:column;
    align-items: flex-start;
    padding: 30px 20px 0 10px;
    width: 14vw;
   
}
.under-list li{
    padding-bottom: 30px;
}
/* afficher underlist when we hover the li */

.Navigation .under-container:hover .under-list{
    display: flex;
}

 .login{
    width: 100px;
    height: 100px;
} 
.botton_login{
    margin-left: 10px;
    border: 3px solid white;
  width:120px ;
  height:40px ;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  border-radius: 50px ;
  cursor: pointer;
}
