.chess_board{
  margin-left: 31%;
  
 /* border-style: dashed; */
 width: 36.5vw;
 height: 75vh;
 display: flex;
 justify-content: center;
 justify-items: center;
  
    /* width: 36.65vw; */
    box-shadow: 0px 0px 28px 22px rgba(116,212,137,0.75);
    -webkit-box-shadow: 0px 0px 28px 22px rgba(116,212,137,0.75);
    -moz-box-shadow: 0px 0px 28px 22px rgba(116,212,137,0.75);}